<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--This opens the default menu we have-->
      <ion-back-button defaultHref="/admin/center/list-centers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedPlace.name }}</ion-title>
    <!--Here we will replace with the government icon-->
    <ion-buttons slot="end" class="ion-padding">
      <ion-icon name="earth-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>
 
  <p>Hola</p>
</ion-content>