<app-toolbar title="Residuos" [backButton]="true" routePath="/user/info"></app-toolbar>
<ion-content>
  <div *ngIf="wastes">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-slides pager="true" #BannerSlider (ionSlidesDidLoad)="slidesDidLoad(BannerSlider)">
            <ion-slide *ngFor="let waste of wastes">
              <div class="foto_residuo">
                <ion-img  [src]="waste.icon"></ion-img>
              </div>
              <h2>{{waste.name}}</h2>
              <p>{{waste.description}}</p>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!wastes" class="center">
    <ion-spinner name="lines"></ion-spinner>
  </div>

</ion-content>

