<app-toolbar title="Residuos" [backButton]="true" routePath="/user/info"></app-toolbar>
<ion-content>
  <div *ngIf="wastes">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md = "6" size-sm = "12">
          <ion-card *ngFor="let waste of wastes">
            <div *ngIf="waste.icon">
              <div class="foto_residuo">
                <ion-img  [src]="waste.icon"></ion-img>
              </div>
              <ion-card-header>
                <ion-card-subtitle>Aprende más sobre...</ion-card-subtitle>
                <ion-card-title>{{waste.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>{{waste.description}}</ion-card-content>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!wastes" class="center">
    <ion-spinner name="lines"></ion-spinner>
  </div>

</ion-content>

