<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/info"> </ion-back-button>
    </ion-buttons>
    <ion-title>Residuos</ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button routerLink="/user/places-searcher-page">
        <img class="smallImg" src="../../../../assets/img/blueQ.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="wastes">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-slides pager="true">
            <ion-slide>
              <div class="slide">
                <ion-img [src]="wastes[0].icon"></ion-img>
                <h2>{{ wastes[0].name }}</h2>
                <p>{{ wastes[0].description }}</p>
              </div>
            </ion-slide>
            <ion-slide *ngFor="let waste of wastes.slice(1)">
              <ion-img [src]="waste.icon"></ion-img>
              <h2>{{waste.name}}</h2>
              <p>{{waste.description}}</p>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!wastes" class="center">
    <ion-spinner name="lines"></ion-spinner>
  </div>
  

</ion-content>

