<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--This opens the default menu we have-->
      <ion-back-button defaultHref="/admin/center/list-center"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Lugar</ion-title>
    <!--Here we will replace with the government icon-->
    <ion-buttons slot="end" class="ion-padding">
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-grid>
  <ion-row class="ion-padding-horizontal">
    
    <ion-col size="12" size-sm size-md>
      <form [formGroup]="newCenterForm" (ngSubmit)="submit()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name" inputmode="text" ></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.name">
            <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input formControlName="description" inputmode="text"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.description">
            <ng-container *ngIf="description.hasError(error.type) && (description.dirty || description.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating">Horario</ion-label>
            <ion-input formControlName="schedule" inputmode="text"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.schedule">
            <ng-container *ngIf="schedule.hasError(error.type) && (schedule.dirty || schedule.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating">Latitud</ion-label>
            <ion-input formControlName="latitude" inputmode="decimal"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.latitude">
            <ng-container *ngIf="latitude.hasError(error.type) && (latitude.dirty || latitude.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating">Longitud</ion-label>
            <ion-input formControlName="longitude" inputmode="decimal"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.longitude">
            <ng-container *ngIf="longitude.hasError(error.type) && (longitude.dirty || longitude.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>


          <ion-item>
            <ion-label position="floating">Foto</ion-label>
            <ion-input formControlName="mainPicture" inputmode="url"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.mainPicture">
            <ng-container *ngIf="mainPicture.hasError(error.type) && (mainPicture.dirty || mainPicture.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating">Tipo de Instalación</ion-label>
            <ion-select class="myCustomSelect" formControlName="instalationType" placeholder="Elegir" multiple="false">
              
              <ion-select-option 
              *ngFor="let placeType of loadedPlacetypes" 
              value="{{placeType.id}}"

              > {{placeType.name}} </ion-select-option>
            </ion-select>
          </ion-item>

          <div *ngFor="let error of errorMessages.instalationType">
            <ng-container *ngIf="instalationType.hasError(error.type) && (instalationType.dirty || instalationType.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

        </ion-list>
        <ion-list formGroupName="address">
          <ion-list-header>
            <ion-label>Dirección</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label position="floating">Calle</ion-label>
            <ion-input formControlName="street" inputmode="text"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.street">
            <ng-container *ngIf="street.hasError(error.type) && (street.dirty || street.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating">CP</ion-label>
            <ion-input formControlName="zip" inputmode="text"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.zip">
            <ng-container *ngIf="zip.hasError(error.type) && (zip.dirty || zip.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-button [disabled]="!newCenterForm.valid" type="submit" expand="block">
            Guardar
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </ion-list>
      </form>
    </ion-col>
    <ion-col size="12" size-sm size-md class="gMap">
      
      <app-shared-google-map #mapElement (placeChange)="onChangeMarker($event)" [editable]="true" [max]="1" [places]="[place]" ></app-shared-google-map>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content> 
