<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/center/list-centers"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ loadedPlace.name }} </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeletePlace()">
        <ion-icon name="trash" slot="icon-only"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button  [routerLink]="['/admin/center/list-centers/edit-centers', loadedPlace.id]">
        <ion-icon name="create" style="zoom:1.5"></ion-icon> 
        <!-- <ion-label>Editar</ion-label> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size = "12" size-sm = "8" offset-sm="2" text-center class="ion-text-center">
        <h1> {{ loadedPlace.name }} </h1>
      </ion-col>
    </ion-row>
    
    <ion-row>

      <ion-col class="spacePhoto" size = "3" size-sm = "8"  >
        <ion-img [src]="loadedPlace.photo"></ion-img>
      </ion-col>
      
      <ion-col class="spaceWithPhoto" text-center>
        <h4> Decripción: </h4>
        <p> {{ loadedPlace.description }} <p>
        <h4> Código QR: </h4>
        <p> {{ loadedPlace.qr_code }} <p>
        <h4> Calle: </h4>
        <p> {{ loadedPlace.address }} <p>
        <h4> Ciudad: </h4>
        <p> {{ loadedPlace.address }} <p>
        <h4> Código Postal: </h4>
        <p> {{ loadedPlace.postal_code }} <p>
        <h4> Tipo de Instalación: </h4>
        <p> {{ loadedPlace.places_type.name }} <p>
      </ion-col>


    </ion-row>

  </ion-grid>
</ion-content>
