<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/center/list-centers"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="loadedPlace"> {{ loadedPlace.name }} </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeletePlace()">
        <ion-icon name="trash" slot="icon-only"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="loadedPlace" [routerLink]="['/admin/center/list-centers/edit-centers', loadedPlace.id]">
        <ion-icon name="create" style="zoom:1.5"></ion-icon> 
        <!-- <ion-label>Editar</ion-label> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  
  <ion-grid>
    
    <ion-row>
      <ion-col size = "2" size-sm = "7" offset-sm="2" text-center>

        <ion-col>
          <app-shared-google-map #mapElement [editable]="false" [max]="1" [places]="mapPlaces"></app-shared-google-map>
        </ion-col>

        <ion-card *ngIf="loadedPlace">
          <ion-img [src]="loadedPlace.photo"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ loadedPlace.address }}</ion-card-subtitle>
            <ion-card-title>{{ loadedPlace.name }}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            
            <p> {{ loadedPlace.description }} </p>
            <br>
            <h4> <strong> Código QR: </strong> </h4>
            <p> {{ loadedPlace.qr_code }} </p>
            <br>
            <h4> <strong> Código Postal: </strong> </h4>
            <p> {{ loadedPlace.postal_code }} </p>
            <br>
            <h4> <strong> Tipo de Instalación: </strong> </h4>
            <p *ngIf="!loadedPlaceType"> Cargando ... </p>
            <p *ngIf="loadedPlaceType"> {{ loadedPlaceType.name }} </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--ion-row>
      <ion-col size = "12" size-sm = "8" offset-sm="2" text-center class="ion-text-center">
        <h1> <strong> {{ loadedPlace.name }} </strong> </h1>
      </ion-col>
    </ion-row>
    
    <ion-row>

      <ion-col class="spacePhoto" size-sm = "6"  >
        <ion-img [src]="loadedPlace.photo"></ion-img>
      </ion-col>
      
      <ion-col class="spaceWithPhoto" text-center>
        <h4> <strong> Decripción: </strong> </h4>
        <p> {{ loadedPlace.description }} <p>
        <h4> <strong> Código QR: </strong> </h4>
        <p> {{ loadedPlace.qr_code }} <p>
        <h4> <strong> Dirección: </strong> </h4>
        <p> {{ loadedPlace.address }} <p>
        <h4> <strong> Código Postal: </strong> </h4>
        <p> {{ loadedPlace.postal_code }} <p>
        <h4> <strong> Tipo de Instalación: </strong> </h4>
        <p *ngIf="!loadedPlaceType"> Cargando ... </p>
        <p *ngIf="loadedPlaceType"> {{ loadedPlaceType.name }} </p>


      </ion-col>
    </ion-row-->

  </ion-grid>
</ion-content>
