<app-toolbar title="Administracion" [backButton]="false" [login]="false" ></app-toolbar>

<ion-content>
  <ion-grid>
    <ion-row padding>
      
        <ion-col size="12" size-sm size-md style="text-align: center" >
        <h1>Centros</h1>
          <br>
        <ion-button 
        color="primary" 
        routerDirection=" "
        [routerLink]="['/','admin','center', 'list-center']"> 
        Visualizar Centros
        </ion-button>
        <br>
        <ion-button 
        color="primary" 
        routerDirection=" "
        [routerLink]="['/','admin','center', 'add-center']"> 
        Agregar Centro
        </ion-button>
        
        <br>
        <br>
        <h2>Categorías de Centros</h2>
        <br>
        <ion-button 
        color="primary" 
        routerDirection=" "
        [routerLink]="['/','admin','center', 'place-type']"> 
        Visualizar Categoría de Centros
        </ion-button>
        <br>
        <br>
        <h1>Desechos</h1>
        <br>
        <ion-button 
        color="primary" 
        routerDirection=" "
        [routerLink]="['/','admin','center', 'waste-type']"> 
        Visualizar Tipos de Residuos
        </ion-button>
        <br> <br>
        <h1>Eventos</h1>
        <ion-button 
        color="primary" 
        routerDirection=" "
        [routerLink]="['/','admin','events']"> 
        Visualizar Eventos
        </ion-button>
        <br> <br>
        <h1>Fichas Informativas (Banners)</h1>
        <ion-button 
        color="primary" 
        routerDirection=" "
        [routerLink]="['/','admin','info-banners']"> 
        Visualizar Fichas Informativas
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

