
    <ion-list>
      <!--This allows to click an item and then close the menu-->
      <ion-menu-toggle>
        <ion-item *ngIf="!isLogged" lines="none" routerLink="/user/login">
          <ion-icon  color="primary" name="enter-outline" slot="start"></ion-icon>
          <ion-label>Iniciar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item *ngIf="admin || staff" lines="none" routerLink="/admin/center">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>Centros de Recolección</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/admin/center">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>Información</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/admin/goals">
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>Incentivos</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/user/places-searcher-page">
          <ion-icon name="search-circle-outline" slot="start"></ion-icon>
          <ion-label>Buscador de Centros</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item *ngIf="isLogged" lines="none" (click)="onLogout()" button>
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
