<app-toolbar title="Categorías de Centros" [backButton]="true" routePath="/admin/center"></app-toolbar>

<ion-content>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" size-xs="12" offset-sm="4"class="ion-text-center">
        <ion-searchbar  showCancelButton="focus"  placeholder="Buscar" animated debounce="500" inputmode="text" (ionChange)="searchByName( $event )"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="listplaceTypes">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md = "8" size-sm = "12" class="ion-text-center">
        <ion-list >
          <ion-item *ngFor="let placeType of listplaceTypes | paginate: { itemsPerPage: 7, currentPage: actualPage }" >
            <ion-thumbnail slot="start">
              <ion-img [src]="placeType.icon_url"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2> {{ placeType.name }} </h2>
            </ion-label>

            <ion-button fill="clear" class="bold"  [routerLink]="['/admin/center/place-type/update', placeType.id]">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" class="bold"  (click) =  "onDeletePlaceType(placeType.id, placeType.name)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item *ngIf="listplaceTypes.length == 0"  class="ion-text-center">
            <ion-label>
              <h2> No se encontraron resultados. </h2>
            </ion-label>
          </ion-item>
        </ion-list>
        <pagination-controls (pageChange)="actualPage = $event"
          directionLinks="true"
          responsive="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination">
          </pagination-controls>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" edge="true">
  <ion-fab-button routerLink='/admin/center/place-type/add'>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

