<app-toolbar title="Agregar Categoría" [backButton]="true" routePath="/admin/center/place-type"></app-toolbar>

<ion-content fullscreen >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md = "6" size-sm = "12" >
        <ion-card class="ion-justify-content-center" *ngIf="wasteTypes">

          <form [formGroup]="newWasteForm" (ngSubmit)="addPlaceType()">
            <ion-card-header>
              <ion-card-title>
                <ion-card-subtitle position="floating">Tipo de Centro de Residuo</ion-card-subtitle>
                <ion-input placeholder = "Ejemplo: Libros" type = "text" required = "true" maxlength = "30" formControlName="name" inputmode="text"></ion-input>
              </ion-card-title>
              <div *ngFor="let error of errorMessages.name">
                <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle position="floating">Url de Foto</ion-card-subtitle>
              <ion-input placeholder = "Ejemplo: http://ejemplo.com/ejemplo.jpg" type = "url" required = "true" formControlName="mainPicture"></ion-input>
              <div *ngFor="let error of errorMessages.mainPicture">
                <ng-container *ngIf="mainPicture.hasError(error.type) && (mainPicture.dirty || mainPicture.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <ion-grid>
                <ion-row class="ion-justify-content-left">
                  <ion-col class="ion-align-self-center" size-md = "12">
                    <ion-list >
                      <ion-card-subtitle position="floating">Tipos de Desechos que Recibe</ion-card-subtitle>
                      <ion-item *ngFor="let waste of wasteTypes">
                        <ion-checkbox slot = "start" (click) = "changeChecked(waste.id)"></ion-checkbox>
                        <ion-label>{{ waste.name }}</ion-label>
                      </ion-item>
                    </ion-list>
                    <ion-input hidden formControlName="placeWasteType" required = "true" ></ion-input>
                    <div *ngFor="let error of errorMessages.placeWasteType">
                      <ng-container *ngIf="placeWasteType.hasError(error.type)">
                        <small class="error-message">{{error.message}}</small>
                      </ng-container>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md = "4">
                  <!--borre esto [disabled]="!newWasteForm.valid" -->
                  <ion-button [disabled]="!newWasteForm.valid" type="submit" expand = "block">Registrar
                    <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col class="ion-align-self-center" size-md = "4">
                  <ion-button expand = "block" color="danger" (click)="cancelAdd()">Cancelar
                    <ion-icon name="trash-bin-outline" slot="start"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>