<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/center" [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title size = "small">Tipos de Desechos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-backdrop stopPropagation="false">-->
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md = "8" size-sm = "12" >
          <ion-list >
            <ion-item *ngFor="let wasteType of wasteTypes">
              <ion-thumbnail slot="start">
                <ion-img [src]="wasteType.icon"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2> {{ wasteType.name }} </h2>
              </ion-label>

              <ion-button fill="clear" class="bold"  [routerLink]="['/admin/center/waste-type/update', wasteType.id]">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" class="bold"  (click) =  "onDeleteWateType(wasteType.id, wasteType.name)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>

            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/admin/center/waste-type/addWasteType'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <!--</ion-backdrop>-->
</ion-content>
