ion-title{
    --color:white;
    text-align: center;
}
ion-toolbar{
    --color:white;
    text-align: center;
}

@media (max-width: 576px) {
    ion-title {
        font-size: 80% !important;
    }
    ion-button{
        font-size: 80% !important;
    }
}

@media (max-width: 400px) {
    ion-title {
        font-size: 70% !important;
    }
    ion-button{
        font-size: 70% !important;
    }
}
ion-icon{
    padding: 2px;
}

.smallImg{
	display: block;
	height: 25px;
}