<ion-header>
  <meta propery="og:title" content= "AQropio" xmlns:og='http://opengraphprotocol.org/schema/' />
  <ion-toolbar>
    <ion-buttons *ngIf="!backButton" slot="start" >
      <ion-menu-button menu="menucontent"></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="backButton && !editPage" slot="start">
      <ion-back-button defaultHref="{{routePath}}" [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="backButton && editPage" slot="start">
      <ion-button (click)="presentAlertConfirm()" >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons  slot="primary" >
      <ion-button  *ngIf="!isLogged && !login" slot="end" routerLink="/user/login">
        Regístrate<ion-icon name="person-add-outline"></ion-icon>
      </ion-button> 
      <ion-button  *ngIf="isLogged && !logout" slot="end" routerLink="/user/">
        Mi Perfil<img class="myprofile" src="../../../../assets/img/blueQ.png">
      </ion-button>
      <ion-button *ngIf="isLogged && logout" slot="end" (click)="logoutUser()">
        Salir<ion-icon  name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="login"  class="row" style="padding-left: 10px">
      <div class="column">
        <img class="smallImg" src="../../../assets/img/hacemos_la_diferencia.png"> 
      </div>
      <div class="column">
        <img class="smallImg" src="../../../assets/img/en_tu_calle_long.png">
      </div>
      <div class="column">
        <img class="smallImg" src="../../../assets/img/Qro_white.png">
      </div>
      <div class="column">
        <img class="smallImg" src="../../../assets/img/Logo_RespiraQRO.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>




