ion-title{
    --color:white;
    text-align: center;
}
ion-toolbar{
    --color:white;
    text-align: center;
}
@media (max-width: 576px) {
    ion-title {
        font-size: 70% !important;
    }
    ion-button{
        font-size: 80% !important;
    }
    .mediumImg{
      display: block;
      height: 100%;
      width: 25%;
    }
    .smallImg{
      display: block;
      height: 35px;
      padding: 2px;
    }
}

@media (max-width: 400px) {
    ion-title {
        font-size: 65% !important;
    }
    ion-button{
        font-size: 70% !important;
    }
    .mediumImg{
      display: block;
      height: 100%;
      width: 25%;
    }
    .smallImg{
      display: block;
      height: 10px;
      padding: 2px;
    }
}
ion-icon{
    padding: 2px;
}


.mediumImg{
	display: block;
  height: 100%;
  width: 25%;
}
.smallImg{
	display: block;
  height: 35px;
  padding: 2px;
}
.center{
    margin: auto;
}
 
.column {
  float: left;
  width: 25%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}