<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/center/place-type"  [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="loadedPlaceType" size = "small"> {{ loadedPlaceType.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="loadedPlaceType" >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md = "8" size-sm = "12" >
        <ion-list>
          <ion-item>
            <ion-thumbnail slot = "start">
              <ion-img [src]="loadedPlaceType.icon_url"></ion-img>
            </ion-thumbnail>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>
                    <strong><h2>Tipo de Residuo</h2></strong>
                    <p>{{ loadedPlaceType.name }}</p>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>
                    <strong><h2>Url Imagen</h2></strong>
                    <p>{{ loadedPlaceType.icon_url }}</p>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
