<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/center/place-type"  [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="loadedPlaceType" size = "small"> {{ loadedPlaceType.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="loadedPlaceType" >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md = "6" size-sm = "12" >
        <ion-card class="ion-justify-content-center">
          <img [src]="loadedPlaceType.icon_url" />
          <ion-card-header>
            <ion-card-subtitle>Tipo de Centro de Residuo</ion-card-subtitle>
            <ion-card-title>{{ loadedPlaceType.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>Url del Tipo de Centro de Residuo</ion-card-subtitle>
            {{ loadedPlaceType.icon_url }}
            <p *ngIf="wastes">
              {{wastes}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
