<ion-list>
  <ion-list-header>
    <ion-label>
      Filtros
    </ion-label>
  </ion-list-header>
        <ion-item width-0 *ngFor="let filter of filters">
          <ion-avatar  slot="start">
            <img [src]="filter.icon">
          </ion-avatar>
          <ion-label>
            {{filter.name}}
          </ion-label>
          <ion-checkbox slot="end" [value]="filter" [checked]="activeFilters.includes(filter)" (ionChange)="check($event)"></ion-checkbox>
    </ion-item>  
    <p (click)="wasteInfo()">Conoce más info. de tu residuo</p>
    <ion-item lines="none">
    <ion-button slot="end" (click)="dismiss()">Aceptar</ion-button>
  </ion-item>  

</ion-list>
