
popover-content{
	width: 100%;
	height: 100%;
}

ion-list-header{
	font-size: 150%;
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}

ion-item{
	margin: 10px;
	text-align: left;
	font-size: 90%;
}