<app-toolbar title="Eventos" [backButton]="true" routePath="/user/info"></app-toolbar>
<ion-content>
  <div *ngIf="lengthEvents>0">
    <ion-slides pager="true" #EventSlider (ionSlidesDidLoad)="slidesDidLoad(EventSlider)">
        <ion-slide *ngFor="let event of events">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col size-md="6" class="ion-align-self-center">
                        <ion-img *ngIf="event.icon" [src]="event.icon"></ion-img>
                        <h2>{{ event.name }}</h2>
                        <p>{{ event.description }}</p>

                        <a [routerLink]="['/user/info/events/detail-event', event.id]" >Ver detalle</a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
    <ion-grid>
        <ion-row class="ion-justify-content-center" >
          <ion-col size-md = "6" size-sm = "12" class="ion-text-center">
            <ion-list >
              <ion-item *ngFor="let event of events | paginate: { itemsPerPage: 7, currentPage: actualPage }" detail [routerLink]="['/user/info/events/detail-event', event.id]">
                <ion-thumbnail slot="start">
                  <ion-img *ngIf="event.icon " [src]="event.icon"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2> {{ event.name }} </h2>
                </ion-label>
              </ion-item>
            </ion-list>
            <pagination-controls (pageChange)="actualPage = $event"
              directionLinks="true"
              responsive="true"
              previousLabel="Anterior"
              nextLabel="Siguiente"
              screenReaderPaginationLabel="Pagination">
            </pagination-controls>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      
        <ion-grid *ngIf="lengthEvents==0">
          <ion-row class="ion-justify-content-center">
            <ion-col size-md = "6" size-sm = "12" class="ion-text-center">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                     No hay eventos disponibles actualmente.
                  </ion-card-title>
                </ion-card-header>

                <ion-card-subtitle>Te recomendamos volver más tarde.</ion-card-subtitle>
                <img>
              </ion-card>
              
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>