<app-toolbar title="Eventos" [backButton]="true" routePath="/user/info"></app-toolbar>

<ion-content>
  <div *ngIf="lengthEvents>0">
    <ion-slides pager="true" #EventSlider (ionSlidesDidLoad)="slidesDidLoad(EventSlider)">
        <ion-slide *ngFor="let event of events">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col size-md="6" class="ion-align-self-center">
                        <ion-img [src]="event.icon"></ion-img>
                        <h2>{{ event.name }}</h2>
                        <p>{{ event.description }}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
    <ion-grid>
        <ion-row class="ion-justify-content-center" >
          <ion-col size-md = "6" size-sm = "12" >
            <ion-list >
              <ion-item *ngFor="let event of events" detail [routerLink]="['/user/info/events/detail-event', event.id]">
                <ion-thumbnail slot="start">
                  <ion-img [src]="event.icon"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2> {{ event.name }} </h2>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>

      
      
        <ion-grid *ngIf="lengthEvents==0">
          <ion-row>
            <ion-col>
              <h4>No hay eventos disponibles actualmente. Te recomendamos volver nuevamente.</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>