<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <!--This opens the default menu we have-->
      <ion-back-button defaultHref="/user/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Registrarse</ion-title>
    <!--Here we will replace with the government icon-->
    <ion-buttons slot="end" class="ion-padding">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <hr>
  <hr>
  <hr>
  <ion-grid >
    <ion-row class="ion-padding-horizontal">
      <ion-col size="2" size-s></ion-col>
    <ion-col size="12" size-sm size-md>
<form [formGroup]= "newCenterForm" (ngSubmit)="submit()">
  <h1 class="h3 mb-3 font-weight-normal" >Crear tu Cuenta de AQropio</h1>
  <hr>
  <hr>
  

  <p>Ingresa tu información para crear tu cuenta y recibir funcionalidades exclusivas.</p>
  
  <ion-list>

    <ion-item >
      <ion-label position="floating">Alias</ion-label>
      <ion-input formControlName="alias" inputmode="text" ></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.alias">
      <ng-container *ngIf="alias.hasError(error.type) && (alias.dirty || alias.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email" inputmode="email" ></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" inputmode="password" type="password"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Confirmación de Contraseña</ion-label>
      <ion-input formControlName="confirmPassword" inputmode="password" type="password" ></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.confirmPassword">
      <ng-container *ngIf="confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
 

    <ion-item *ngIf="delegations" >
      <ion-label position="floating">Delegación</ion-label>
      <ion-select class="myCustomSelect" formControlName="delegation_id" placeholder="Elegir" multiple="false">
        
        <ion-select-option 
        *ngFor="let delegation of delegations" 
        value="{{delegation.id}}"

        > {{delegation.name}} </ion-select-option>
      </ion-select>
    </ion-item>
    

    <div *ngFor="let error of errorMessages.delegation_id">
      <ng-container *ngIf="delegation_id.hasError(error.type) && (delegation_id.dirty || delegation_id.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-checkbox color="primary" slot="start" (click) = "hasReadPrivacyPolicy()"></ion-checkbox>
      <ion-label> <a href="https://drive.google.com/open?id=1i2qvCpMfQ-4WkSDybdOUlWP4-fH80pjn" target="_blank">Aviso de Privacidad</a></ion-label>
      
    </ion-item>
    <ion-input hidden formControlName="privacy_policy" required = "true" ></ion-input>
    <div *ngFor="let error of errorMessages.privacy_policy">
      <ng-container *ngIf="privacy_policy.hasError(error.type)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <br>

    <ion-button [disabled]="!newCenterForm.valid" type="submit" expand="block">
      Registrarme
      <ion-icon slot="end" name="send"></ion-icon>
    </ion-button>
    </ion-list>
</form>
</ion-col>
<ion-col size="2" size-s></ion-col>
</ion-row>
</ion-grid>
</ion-content>
