@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url('src/assets/fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: normal;
    src: url('src/assets/fonts/Montserrat-Italic.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    src: url('src/assets/fonts/Montserrat-BoldItalic.otf');
}
