/*Global styles, only use it when there is no other option!*/

.sc-ion-alert-md-h {
    --min-width: 50% !important;	
}

.sc-ion-alert-lg-h {
    --min-width: 50% !important;	
}

div .swiper-pagination.swiper-pagination-bullets{
	position: fixed !important;
}