
<app-toolbar *ngIf='loadedPlace' title='{{ loadedPlace.name }}' [backButton]="true" routePath="/admin/center/list-center"></app-toolbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm size-md  *ngIf="loadedPlace">
        <div class="class">
        <ion-card *ngIf="loadedPlace">
          <ion-img [src]="loadedPlace.photo" style="width:50%"></ion-img>
          <ion-card-header>
            <ion-card-title class="class">{{ loadedPlace.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="class">
            <p> 
              <strong>Dirección:</strong> {{ loadedPlace.address }} CP: {{ loadedPlace.postal_code }}
              <br><br>
              <strong>Descripción:</strong> {{ loadedPlace.description }}
              <br><br>
              <strong>Horario:</strong> {{ loadedPlace.schedule }}
              <br><br>
              <strong>Tipo de Instalación:</strong> {{ loadedPlaceType.name }}
            </p>
            <br>
            <strong>Código QR:</strong>
            <br><br>
            {{ loadedPlace.qr_code }}
            <div #qrCodeElement (ready)="renderQRImage()"></div>
          </ion-card-content>
        </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" size-sm size-md class="gMap">
          <app-shared-google-map #mapElement [center]="position" [editable]="false" [max]="1" [places]="[loadedPlace]"></app-shared-google-map>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
