<ion-header *ngIf="loadedPlace">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/center/list-center"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="loadedPlace"> {{ loadedPlace.name }} </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeletePlace()">
        <ion-icon name="trash" slot="icon-only"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="loadedPlace" [routerLink]="['/admin/center/list-center/edit-center', loadedPlace.id]">
        <ion-icon name="create" style="zoom:1.5"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>

      <ion-col size="12" size-sm size-md  *ngIf="loadedPlace">

        <ion-card *ngIf="loadedPlace">
          <ion-img [src]="loadedPlace.photo" style='width: fit-content;height: fit-content;'></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ loadedPlace.address }}</ion-card-subtitle>
            <ion-card-title>{{ loadedPlace.name }}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            
            <p> {{ loadedPlace.description }} </p>
            <br>
            <p> Horario: {{ loadedPlace.schedule }} </p>
            <br>
            <h4> <strong> Código QR: </strong> </h4>
            <p> {{ loadedPlace.qr_code }} </p>
            <div #qrCodeElement (ready)="renderQRImage()"></div>
            <br>
            <h4> <strong> Código Postal: </strong> </h4>
            <p> {{ loadedPlace.postal_code }} </p>
            <br>
            <h4> <strong> Tipo de Instalación: </strong> </h4>
            <p *ngIf="!loadedPlaceType"> ¡Error! No se pudo cargar el tipo de lugar, verificarlo</p>
            <p *ngIf="loadedPlaceType"> {{ loadedPlaceType.name }} </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm size-md class="gMap">
        <app-shared-google-map #mapElement [center]="position" [editable]="false" [max]="1" [places]="[loadedPlace]"></app-shared-google-map>
      </ion-col>
      
    </ion-row>

  </ion-grid>
</ion-content>
