<app-toolbar title="Administrar Eventos" [backButton]="true" [login]="false" routePath="/admin/center" ></app-toolbar>
 
<ion-content>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" size-xs="12" offset-sm="4"  class="ion-text-center">
        <ion-searchbar showCancelButton="focus"  placeholder="Buscar" animated debounce="500" inputmode="text" (ionChange)="searchByName( $event )"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="listEvents" >
    <ng-container *ngIf="!events">
      <ion-spinner name="bubbles"></ion-spinner>
    </ng-container>
    <ng-container *ngIf="events">
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="3" size-sm="12" class="ion-text-center">
          <ion-item>
            <ion-label>Mostrar Eventos Previos</ion-label>
            <ion-toggle (ionChange)="seePastEvents($event)" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-list>
            <ion-item 
              *ngFor="let event of listEvents | paginate: { itemsPerPage: 7, currentPage: actualPage }">
              <ion-thumbnail slot="start">
                <ion-img [src]="event.icon"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ event.name }}</h2>
                <p>{{ event.description }}</p>
              </ion-label>
               <ion-button fill="clear" class="bold"  [routerLink]="['/admin/events/detail', event.id]" ><ion-icon slot="icon-only" name="create-outline"></ion-icon></ion-button>
               <ion-button fill="clear" class="bold"  (click)="delete(event.id)"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-button>
            </ion-item>

            <ion-item *ngIf="listEvents.length == 0"  class="ion-text-center">
              <ion-label>
                <h2> No se encontraron resultados. </h2>
              </ion-label>
            </ion-item>
          </ion-list>
          <pagination-controls (pageChange)="actualPage = $event"
            directionLinks="true"
            responsive="true"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            screenReaderPaginationLabel="Pagination">
          </pagination-controls>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-fab>
      <ion-fab-button [routerLink]="['/admin/events/add']"  >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-grid>
</ion-content>
