<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--This opens the default menu we have-->
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Buscador de Centros</ion-title>
    <!--Here we will replace with the government icon-->
    <ion-buttons slot="end" class="ion-padding">
      ReciQro 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid  [ngClass]="classname" >
    <ion-row  [ngClass]="classname">
      <ion-col size="12">
        <app-filter-menu (change)="filterByType($event)"></app-filter-menu>
        <app-shared-google-map #mapElement (seletedMarker)="emitPlace($event)" (change)="onViewportChange($event)" [editable]="false" [max]="30" [places]="places" [center]="position">
        </app-shared-google-map>
        <app-marker-card  (changeView)="componentView($event)" [loadedPlaceType]="loadedPlaceType" [placeSelected]="placeSelected"></app-marker-card>
        <ion-button  shape="round" class="filters" (click)="openFilters()" >Filtros</ion-button>
        <ion-button  shape="round" class="qro" (click)="viewQro()" >Vista Qro</ion-button>
       </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button  id="cancel" shape="round" class="cancelfilters" (click)="closeFilters()"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


 