<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--This opens the default menu we have-->
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscador de Centros</ion-title>
    <!--Here we will replace with the government icon-->
    <ion-buttons slot="end" class="ion-padding">
      <ion-icon name="earth-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ly-grid ion-fixed">
    <ion-row class="ly-row">
      <ion-col size="12">
        <app-shared-google-map [editable]="false" [max]="30" [places]="places"></app-shared-google-map>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
