<ion-header>
  <ion-toolbar>
    <ion-buttons col-4 col-sm slot="start">
      <!--This opens the default menu we have-->
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    
    <ion-title  class="ion-text-center">Buscador de Centros</ion-title>
    <!--ion-title    class="ion-text-center">Buscador de Centros flag: {{isLogged}}</ion-title-->
    <!--Here we will replace with the government icon-->
    <ion-buttons  slot="primary" >
      <ion-button  *ngIf="!isLogged"  col-2 col-sm  slot="end" color="secondary" >
        Regístrate<ion-icon name="person-add-outline"></ion-icon></ion-button> 
      <ion-button  *ngIf="isLogged" col-2 col-sm  slot="end" color="secondary">
    Perfil<ion-icon name="person-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid  [ngClass]="classname" >
    <ion-row  [ngClass]="classname">
      <ion-col size="12">
        <app-shared-google-map  #mapElement (seletedMarker)="emitPlace($event)"  [editable]="false" [max]="30" [places]="places" [center]="position">
        </app-shared-google-map>
       <app-marker-card [class.active]="placeSelected" [loadedPlaceType]="loadedPlaceType" [placeSelected]="placeSelected">
         
       </app-marker-card>
        <ion-button  shape="round" class="filters" (click)="presentFilterModal()" >Filtros</ion-button>
        <ion-button  shape="round" class="qro" (click)="viewQro()" >Vista Qro</ion-button>
       </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


 