.ly-grid-map {
    height: 100%;
    position: relative;
}
.ly-grid-filter {
    height: 80%;
    position: relative;
}

.markerCardabsolute{
  position: absolute;
  bottom: 50%;
  left: 20%;
  padding: 1px;
  --background:#0f2252;
  --border-width:100%;
}
ion-title{
    --color:white;
}

ion-toolbar{
	color: white;
}

.filters{
    position: absolute;
    bottom: 3%;
    right: 5%;
    padding: 1px;
    --background:#0f2252;
    --border-width:100%;
}
.cancelfilters{
  visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px;
    --background:#0f2252;
    --border-width:100%;
}

.qro{
    position: absolute;
    top: 10%;
    right: 0%;
    padding: 1px;
    --background:#0f2252;
    --border-width:100%;
}

.bottomright{
    position: absolute;
    bottom: 3%;
    right: 5%;
    padding: 1px;
    --background:#0f2252;
    --border-width:100%;
}

app-marker-card {
    left: 0;
    bottom: 10%;
    height: 45%;
    width: 50%;
    position: fixed;
    display: none;
}
app-marker-card.active {
    display: block;
}
@media (max-width: 576px) {
    ion-title {
        font-size: 65% !important;
    }
    ion-button{
        font-size: 70% !important;
    }
    div{
        bottom: 50% !important;
        left: 37% !important;
        
    }
    ion-icon{
        font-size: 26px !important;
    }
}

@media (max-width: 400px) {
    ion-title {
        font-size: 65% !important;
    }
    ion-button{
        font-size: 70% !important;
    }
    div{
        bottom: 48% !important;
        left: 35% !important;
        
    }
    ion-icon{
        font-size: 25px !important;
    }
}
ion-icon{
    font-size: 30px;
    padding: 2px;
    color: #d62684;
}

ion-popover {
	--width: 320px;
}

div{
    position: absolute;
    bottom: 50%;
    left: 41%;
    padding: 1px;
    display: none;
    
}

div.active {
    display: block;
    background: none;
}

button{
    background:none;
}

ion-modal{
    background: black;
    text-size-adjust: 120px;
}

ion-toolbar{
	color: white;
}

ion-modal{
	background-color: #1f3368 !important;
	--background: var(--ion-background-color, #1f3368) !important;
}

.sc-ion-modal-md-h{
	background-color: #1f3368 !important;
	--background: var(--ion-background-color, #1f3368) !important;
}

ion-icon{
	color:#0f2252;
}