<app-toolbar [backButton]="false" title="Conoce más"  [login]="false"></app-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="6" size-sm="8" size="12">
        <ion-card class="card1" [routerLink]="['/','user','info','waste']" >
          <img src="../../../assets/img/funfacts.jpg"/>
          <ion-card-header>
            <ion-card-subtitle class="card1">Conoce más</ion-card-subtitle>
            <ion-card-title class="card1"><b>Residuos</b></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            En esta sección podrás aprender más acerca del impacto que tienen tus desechos en el planeta, así como alternativas y recomendaciones. 
          </ion-card-content>
          <div class="ion-text-right">
            <ion-button 
            class="card1"
            fill="clear"
            routerDirection=" "
            [routerLink]="['/','user','info','waste']"> 
            <b>Ver más</b>
          </ion-button>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="8" size="12">
        <ion-card class="card2" [routerLink]="['/','user','info','funfacts']">
          <img src="../../../assets/img/Residuos.jpg"/>
          <ion-card-header>
            <ion-card-subtitle class="card2">¿Qué quieres aprender hoy?</ion-card-subtitle>
            <ion-card-title class="card2"><b>Datos Curiosos</b></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Aquí puedes ver datos curiosos sobre diferentes residuos y reciclaje. Igualmente encontrarás fechas relevantes y por qué se conmemoran.
          </ion-card-content>
          <div class="ion-text-right">
            <ion-button 
            class="card2"
            fill="clear"
            routerDirection=" "
            [routerLink]="['/','user','info','funfacts']"> 
            <b>Ver más</b>
          </ion-button>
          </div>
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

