<!--Global menu-->
<ion-app>
  <!--main wrapper for the side menu-->
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          ReciQro
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <!--This is the content of the menu-->
    <ion-content>
      <ion-list>
        <!--This allows to click an item and then close the menu-->
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/user/login">
            <ion-icon  color="primary" name="enter-outline" slot="start"></ion-icon>
            <ion-label>Iniciar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/admin/center">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Centros de Recolección</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/admin/info">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>Información</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/admin/goals">
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-label>Incentivos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/user/places-searcher-page">
            <ion-icon name="search-circle-outline" slot="start"></ion-icon>
            <ion-label>Buscador de Centros</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
