ion-toolbar{
	color: white;
}


ion-model{
	background-color: #1f3368 !important;
	--background: var(--ion-background-color, #1f3368) !important;
}

.sc-ion-modal-md-h{
	background-color: #1f3368 !important;
	--background: var(--ion-background-color, #1f3368) !important;
}
.titleicon div{
	display:inline-block;
	margin-bottom:10px;
	}
ion-icon{
	color:#0f2252;
}

ion-label{
	color:#0f2252;
}

.leftpad{
	padding-left: 15px;
}
a{
	text-decoration:none;
}