ion-toolbar{
	color: white;
}


ion-model{
	background-color: #1f3368 !important;
	--background: var(--ion-background-color, #1f3368) !important;
}

.sc-ion-modal-md-h{
	background-color: #1f3368 !important;
	--background: var(--ion-background-color, #1f3368) !important;
}

ion-icon{
	color:#0f2252;
}
