
<app-toolbar title="Administrar Usuarios" [backButton]="true" routePath="/admin/center"></app-toolbar>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/admin/create-staff'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row  class="ion-justify-content-center">
      <ion-col size-md = "4" size-sm = "12" class="ion-text-center">
        <ion-list>
          <ion-list-header text-center>
            Usuarios
          </ion-list-header>
          <ion-searchbar size="4" showCancelButton="focus"  placeholder="Buscar" animated debounce="500" inputmode="text" (ionChange)="searchUsersByAlias( $event )"></ion-searchbar>
          <ng-container *ngFor="let user of users | paginate: {id: 'versionPagination', itemsPerPage: 8, currentPage: actualPage }">
            <ion-item >
              <ion-avatar slot="start">
                <img src="../../assets/img/avatarAdmin.png">
              </ion-avatar>
              <ion-buttons slot="end">
                <ion-button fill="clear" class="bold" (click)="onAddAdmin(user.id)">
                  <ion-icon name="person-add-outline"></ion-icon> &nbsp; Promover
                </ion-button>
              </ion-buttons>
              <ion-label>
                <h2>{{user.alias}}</h2>
                <ul>
                  <ng-container *ngFor="let role of user.roles">
                    <li *ngIf="role == 'admin'">Administrador</li>
                    <li *ngIf="role == 'user'">Usuario</li>
                    <li *ngIf="role == 'staff'">Staff</li>
                  </ng-container>
                </ul>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
        <pagination-controls 
          id="versionPagination" 
          (pageChange)="actualPage = $event"
          directionLinks="true"
          responsive="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination">
        </pagination-controls>
      </ion-col>
      <ion-col size-md = "4" size-sm = "12" class="ion-text-center">    
        <ion-list>
          <ion-list-header text-center>
            Staff
          </ion-list-header>
          <ng-container *ngFor="let staff of staffs | paginate: {  id: 'versionPagination2', itemsPerPage: 8, currentPage: actualPage2 }">
            <ion-item>
              <ion-avatar slot="start">
                <img src="../../assets/img/avatarStaff.png">
              </ion-avatar>
              <ion-buttons slot="end">
                <ion-button fill="clear" class="bold" (click)="onDeleteAdmin(staff.id)">
                  <ion-icon name="person-remove-outline"></ion-icon>&nbsp; Degradar
                </ion-button>
              </ion-buttons>
              <ion-label>
                <h2>{{staff.alias}}</h2>
                <ul>
                  <ng-container *ngFor="let role of staff.roles">
                    <li *ngIf="role == 'admin'">Administrador</li>
                    <li *ngIf="role == 'user'">Usuario</li>
                    <li *ngIf="role == 'staff'">Staff</li>
                  </ng-container>
                </ul>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
        <pagination-controls 
          id="versionPagination2" 
          (pageChange)="actualPage2 = $event"
          directionLinks="true"
          responsive="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination">
        </pagination-controls>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>