<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Administrador</ion-title>
    <!--Here we will replace with the government icon-->
    <ion-buttons slot="end" class="ion-padding">
      <ion-button routerLink="/user/places-searcher-page">
        <img class="smallImg" src="../../assets/img/blueQ.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="admins">
          <ion-list-header text-center>
            Administradores
          </ion-list-header>
          <ng-container *ngFor="let admin of admins">
            <ion-item *ngIf="admin.roles.indexOf('admin') !== -1">
              <ion-avatar slot="start">
                <img src="../../assets/img/avatarAdmin.png">
              </ion-avatar>
              <ion-label>
                <h2>{{admin.alias}}</h2>
                <h3>Puntos: {{admin.points}}</h3>
                <ul>
                  <ng-container *ngFor="let role of admin.roles">
                    <li *ngIf="role == 'admin'">Administrador</li>
                    <li *ngIf="role == 'user'">Usuario</li>
                    <li *ngIf="role == 'staff'">Staff</li>
                  </ng-container>
                </ul>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-col>
      <ion-col>    
        <ion-list *ngIf="admins">
          <ion-list-header text-center>
            Staff
          </ion-list-header>
          <ng-container *ngFor="let admin of admins">
            <ion-item *ngIf="admin.roles.indexOf('staff') !== -1 && admin.roles.indexOf('admin') == -1">
              <ion-avatar slot="start">
                <img src="../../assets/img/avatarStaff.png">
              </ion-avatar>
              <ion-label>
                <h2>{{admin.alias}}</h2>
                <h3>Puntos: {{admin.points}}</h3>
                <ul>
                  <ng-container *ngFor="let role of admin.roles">
                    <li *ngIf="role == 'admin'">Administrador</li>
                    <li *ngIf="role == 'user'">Usuario</li>
                    <li *ngIf="role == 'staff'">Staff</li>
                  </ng-container>
                </ul>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
        <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button routerLink='/admin/center/place-type/add'>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>