<app-toolbar title="Fichas Informativas" [backButton]="true" routePath="/admin/center"></app-toolbar>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size = "12" size-sm = "8" offset-sm="2" text-center>
          <ion-list *ngIf="infoBanners" >
              <ion-item 
              *ngFor="let infoBanner of infoBanners" >
                <ion-thumbnail slot="start">
                  <ion-img [src]="infoBanner.image_url"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2> {{ infoBanner.title }} </h2>
                  <br>
                  <h5>{{infoBanner.date | date:'dd/MMMM/yyyy '}}</h5>
                </ion-label>
                <ion-button fill="clear" class="bold"  [routerLink]="['/admin/info-banners/edit', infoBanner.id]">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" class="bold"  (click) = "onDeleteInfoBanner(infoBanner.id,infoBanner.title)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-fab>
        <ion-fab-button routerLink="/admin/info-banners/add"  >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-grid>
  </ion-content>