
<app-toolbar *ngIf='eventLoad' title='{{ eventLoad.name }}' [backButton]="true" routePath="/user/info/events"></app-toolbar>

 
  <ion-content>
    <ion-grid>

    <ion-row class="ion-justify-content-center">
    
      <ion-col  size-md = "6" size-sm = "12"  *ngIf="eventLoad">
       
        
        
        <ion-card *ngIf="eventLoad">
          <ion-card-content>
          <ion-img [src]="eventLoad.icon"></ion-img>
          <ion-grid>
            <ion-row class=padding>
              <ion-col size= '8' >
                <ion-card-header>
                  <ion-card-subtitle>{{ startDay }}</ion-card-subtitle>
                  <ion-card-title>{{ eventLoad.name }}</ion-card-title>
                  </ion-card-header>
              </ion-col>
              <ion-col size="4" style="text-align: right">
                <div #iframeFB>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        
          
            
            <p> {{ eventLoad.description }} </p>
            <br>
            <h4> <strong> Fecha de inicio del evento: </strong> </h4>
            <p> {{ startDate }} </p>
            <br>
            <h4> <strong> Fecha de finalizacion del evento: </strong> </h4>
            <p> {{ endDate }} </p>
            <br>
            
            <div id="age">
              <h4> <strong>¿Quiénes pueden asistir?</strong></h4>
              <ul >
                <li *ngFor="let age of eventLoad.age">{{ age }}</li>
              </ul>
            </div>
            
            
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size-md = "6" size-sm = "12"  >
                  <ion-button  color="primary"  *ngIf="eventLoad" href="https://www.google.com/maps/dir//{{eventLoad.location.lat}},{{eventLoad.location.lng}}/@{{eventLoad.location.lat}},{{eventLoad.location.lng}},17z" >Ver en Mapa </ion-button> 
                  <ion-item class="ion-no-padding">
                     
                    <ion-checkbox [(ngModel)]="interested" (click) = "addValue($event)"></ion-checkbox>
                    <ion-label>Estoy interesado</ion-label></ion-item>
                    
                  
                  </ion-col>
              </ion-row>

            </ion-grid>
            
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  
                        

</ion-content>