<app-toolbar *ngIf='eventLoad' title='{{ eventLoad.name }}' [backButton]="true" routePath="/user/info/events">
  <meta propery="og:title" content="Billie Eilish en Querétaro" />
</app-toolbar>


<ion-content>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
    
      <ion-col  size-md = "8" size-sm = "12"  *ngIf="eventLoad">
       
        
        
        <ion-card *ngIf="eventLoad">
          
          <ion-img [src]="eventLoad.icon"></ion-img>
          
          
            <ion-card-header>
            <ion-card-subtitle>{{ startDay }}</ion-card-subtitle>
            <ion-card-title>{{ eventLoad.name }}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
            <p> {{ eventLoad.description }} </p>
            <br>
            <h4> <strong> Fecha de inicio del evento: </strong> </h4>
            <p> {{ startDate }} </p>
            <br>
            <h4> <strong> Fecha de finalización del evento: </strong> </h4>
            <p> {{ endDate }} </p>
            <br>
            <div id="age">
              <h4> <strong>¿Quiénes pueden asistir?</strong></h4>
              <ul>
                <li *ngFor="let age of eventLoad.age">{{ age }}</li>
              </ul>
            </div>
            <ion-grid>
              <ion-row ion-text-center>
                <ion-col  >
                  <ion-button color="primary" size="default" *ngIf="eventLoad" href="https://www.google.com/maps/dir//{{eventLoad.location.lat}},{{eventLoad.location.lng}}/@{{eventLoad.location.lat}},{{eventLoad.location.lng}},17z" target="_blank">Ver en Mapa </ion-button> 
                </ion-col> 
                  <ion-button fill="outline" size="default" *ngIf='email'>
                    <ion-checkbox [(ngModel)]="interested" (click)="addValue($event)"></ion-checkbox>
                    <ion-label>Interesado</ion-label>
                  </ion-button>
              </ion-row>
              <br>
              <ion-row class=padding>
                
                <ion-col size="12" style="text-align: center">
                  
                  <div #iframeFB>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>