<ion-header>
  <ion-toolbar>
    <div class="row" style=" text-align: center;">
      <div class="column">
        <ion-button (click)="dismiss()" slot="start" size="large" fill="clear" color="light">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
      <div class="column" >
        <img class="smallImg" src="../../..//assets/img/QTransparent.png">
      </div>
      <div class="column">
        <img class="smallImg" src="../../..//assets/img/en_tu_calle_1.png">
      </div>
      <div class="column">
        <img class="smallImg" src="../../..//assets/img/Qro_white.png">
      </div>
      
    </div>
    
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center" >
      <ion-col ion-col size-md = "9" size-sm = "12" >
        <div class="middle">
          <br><h1>Aviso de Privacidad</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col ion-col size-md = "9" size-sm = "12"  >
        <div class="withborder">
          <p>La Secretaría de Servicios Públicos Municipales, con domicilio en Boulevard Bernardo Quintana, número 10000, Edificio Centro 
            Cívico, Colonia Centro Sur, Delegación Josefa Vergara y Hernández, Municipio de Querétaro, Qro. C.P. 76090, a través de sus 
            diferentes áreas, es la responsable del tratamiento de los datos personales que nos proporcione en los diversos trámites, servicios 
            y procedimientos que realice ante esta Dependencia. Los cuáles serán utilizados para los diversos fines que se especifican en los 
            Avisos de Privacidad Integrales que puede consultar en la página de internet del Municipio de Querétaro 
            <a href="https://www.municipiodequeretaro.gob.mx/transparencia-2/" target="blank">https://www.municipiodequeretaro.gob.mx/transparencia-2/</a>
             y a través de los estrados de recepción de esta Dependencia. </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
