<app-toolbar title="Mi Perfil" [backButton]="false" [login]="false" [logout]="true" ></app-toolbar>
 
<ion-content fullscreen="true" slot="fixed">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" offset-lg="3" offset-md="3">
        <div class="card">
          <div class="header">
            <div class="avatar">
              <img src="../../assets/img/icon.png" alt="icono">
            </div>
          </div>
          <div class="card-body">
            <div class="user-meta ion-text-center">
              <h3 *ngIf="currentNickName" class="playername">Ciudadano {{currentNickName}}</h3>
              <h5 class="country">{{userDelegation}}</h5>
            </div>
            <br>
            <ion-list>
              <br>
              <ion-label class="blue">Cambia tu delegación</ion-label>
              <br>
              <br>
              <ion-item *ngIf="delegations"> 
                <ion-label>Delegación</ion-label>
                <ion-select (ionChange)="changeDelegation($event)" cancelText="CANCEL" okText="OK" multiple="false" [selectedText]="userDelegation">
                  <ion-select-option 
                  *ngFor="let delegation of delegations" 
                  value="{{delegation.id}}"
                  >{{delegation.name}}
                  {{delegation.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="!delegations">
                <ion-spinner name="circles"></ion-spinner>
              </ion-item>
            </ion-list>
            <br>
              <ion-label class="blue">Cambia tu alias</ion-label>
              <br>
            <form [formGroup]="nickNameForm" (ngSubmit)="submit()">
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Alias</ion-label>
                  <ion-input placeholder = "Superciudadano" formControlName="nickName" [(ngModel)] = "currentNickName"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.nickName">
                  <ng-container *ngIf="nickName.hasError(error.type) && (nickName.dirty || nickName.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>
  
                <ion-button [disabled]="!nickNameForm.valid" type="submit" expand="block">
                  Actualizar alias
                  <ion-icon slot="end" name="create"></ion-icon>
                </ion-button>
              </ion-list>
            </form>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>