<ion-card>
  <ion-card-header>
      <ion-card-title>Gráfica de Indicador</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-grid>
          <ion-row class="ion-justify-content-center" > 
              <ion-col size-md = "4" size-xs = "12" >
                  <ion-item>
                      <ion-searchbar showCancelButton="always" placeholder="Buscar" animated></ion-searchbar>
                  </ion-item>
                  <ion-select placeholder="Elegir" multiple="false" [(ngModel)]="selectedInstance">
                    <ion-select-option 
                        *ngFor="let inst of instances" 
                        [value]="inst"
                    > {{inst.name}} </ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col size-md = "4" size-sm = "6">
                  <ion-item>
                      <ion-label position="floating">Fecha Inicio</ion-label>
                      <ion-datetime display-timezone="utc" [(ngModel)]="inLowerDateStr"></ion-datetime>
                  </ion-item>
              </ion-col>
              <ion-col size-md = "4" size-sm = "6">
                  <ion-item>
                      <ion-label position="floating">Fecha Fin</ion-label>
                      <ion-datetime display-timezone="utc" [(ngModel)]="inUpperDateStr"></ion-datetime>
                  </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-button (click)="sendParametersChangeEvent()">
                      Calcular
                  </ion-button>
              </ion-col>
          </ion-row>
          <ion-row class = "ion-justify-content-center">
              <ion-col size-md = "12" offset-md = "3" pull-xs = "12" pull-md = "0">
                  <canvas id = "chart" width="5" #chartCanvasEl>

                  </canvas>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>