<app-toolbar title="Datos Curiosos" [backButton]="true" routePath="/user/info"></app-toolbar>

<ion-content>
    <ion-slides pager="true" #BannerSlider (ionSlidesDidLoad)="slidesDidLoad(BannerSlider)">
        <ion-slide *ngFor="let banner of banners">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col size-md="6" class="ion-align-self-center">
                        <ion-img [src]="banner.image_url"></ion-img>
                        <h2>{{ banner.title }}</h2>
                        <p><b>Sabias que ... </b>{{ banner.description }}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md = "6" size-sm = "12" class="ion-text-center">
            <ion-list >
              <ion-item button *ngFor="let banner of banners | paginate: { itemsPerPage: 9, currentPage: actualPage }" detail (click)="seeDetail(banner.title, banner.description, banner.image_url, banner.date)">
                <ion-thumbnail slot="start">
                  <ion-img [src]="banner.image_url"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2> {{ banner.title }} </h2>
                </ion-label>
              </ion-item>
            </ion-list>
            <pagination-controls (pageChange)="actualPage = $event"
              directionLinks="true"
              responsive="true"
              previousLabel="Anterior"
              nextLabel="Siguiente"
              screenReaderPaginationLabel="Pagination">
            </pagination-controls>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
