
<app-toolbar [backButton]="false" [login]="true"></app-toolbar>
<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" offset-lg="3" offset-md="3">
        <h1 class='welcome'>Bienvenido/a</h1>
        <h1 class='login'>Inicio de sesión</h1>
        <br>
        <ion-card>
        <form [formGroup]= "newCenterForm" (ngSubmit)="submit()">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input formControlName="email" inputmode="email" ></ion-input>
            </ion-item>
            <div class='errorLogin' *ngFor="let error of errorMessages.email">
              <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" inputmode="password" type="password"></ion-input>
            </ion-item>
            <div class='errorLogin' *ngFor="let error of errorMessages.password">
              <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <br>
            <ion-button class='submit' [disabled]="!newCenterForm.valid" type="submit" expand="block">
              Iniciar Sesión
              <ion-icon slot="end" name="send"></ion-icon>
            </ion-button>
            </ion-list>
          <br><br><br>
          <div class="form-group">
            <ion-label>Regístrate o inicia sesión con Google</ion-label><br><br>
            <ion-button class="btn btn-block btn-social" color="danger" (click)="onLoginGoogle()">
              <span class="fa fa-google"></span>
                  GOOGLE
            </ion-button>
          </div>
          <br><br>
          <div class="form-group">
            <a routerLink="/user/register" class="form-control login-user">¿No tiene cuenta aún?</a>
          </div>
          <br>
          <div class="form-group">
            <a routerLink="/user/recover-password" class="form-control login-user">¿Olvidaste tu contraseña?</a>
          </div>
        </form>
        </ion-card>
        <div class="center">
          <img class="mediumImg center" src="../../../assets/img/reciQroSinFondo.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

