<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/center"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de centros</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/admin/center/add-center">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>

      <ion-col size = "12" size-sm = "8" offset-sm="2" text-center>
        <ion-list>
          <ion-item 
            *ngFor="let place of places" 
            [routerLink]="['/admin/center/list-centers', place.idlugar]"
            detail
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="place.foto"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2> {{ place.nombre }} </h2>
              <p> {{ place.descripcion }} </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
